---
import { Icon } from 'astro-icon';

import Form from './form';

import logo from './logo.svg';
import logo2 from './logo2.svg';
import vkIcon from './vk.svg';
import waIcon from './wa.svg';
import tgIcon from './tg.svg';
---

<div class="container">
  <div class="grid">
    <div class="logo">
      <picture>
        <source srcset={logo} media="(min-width: 1200px)" />
        <source srcset={logo2} />
        <img src="logo2" loading="lazy" />
      </picture>
    </div>
    <div class="contacts">
      <div class="socials">
        <a href="https://vk.com/algoritmikavk" target="_blank" rel="noopener">
          <img src={vkIcon} />
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=74951080536"
          target="_blank"
          rel="noopener"
        >
          <img src={waIcon} />
        </a>
        <a href="https://t.me/algoritmikastudy" target="_blank" rel="noopener">
          <img src={tgIcon} />
        </a>
      </div>
      <a class="phone" href=" " tel:+74951080536">+7 495 108-05-36</a>
      <div class="address">г. Москва, ул. Солянка 1/2, стр. 1</div>
    </div>
    <div class="form-container">
      <Form client:only="react" />
    </div>
    <div class="container-links">
      <div class="links">
        <a
          href="https://drive.google.com/file/d/15iFBRUKRKj0mJ5wUMhU-xv1yIP91gUwF/view"
          target="_blank"
          rel="noopener"
        >
          <span>Договор оферты</span>
          <span class="icon-container">
            <Icon name="arrowRight" />
          </span>
        </a>
        <a
          href="https://algoritmika.org/ru/privacy"
          target="_blank"
          rel="noopener"
        >
          <span>Положение об обработке персональных данных</span>
          <span class="icon-container">
            <Icon name="arrowRight" />
          </span>
        </a>
      </div>
      <div class="copyright">© 2017–2023 Алгоритмика</div>
    </div>
  </div>
</div>

<style lang="scss">
  .container {
    position: relative;
    background: #f5f8fa;
    padding-bottom: 40px;

    @media (min-width: 1200px) {
      height: 322px;
      padding-bottom: unset;
    }
  }

  .grid {
    display: grid;
    grid-column-gap: 28px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    @media (min-width: 1200px) {
      display: flex;
      width: 1160px;
      margin: 0 auto;
      padding-top: 48px;
    }
  }

  .logo {
    grid-column: 1;
    grid-row: 2;
    flex-shrink: 0;
    width: 142px;
    height: 33px;
    margin-left: 10px;

    img {
      width: 100%;
    }

    @media (min-width: 1200px) {
      margin-left: -45px;
      margin-top: -48px;
      width: 278px;
      height: 188px;
    }
  }

  .contacts {
    grid-column: 2;
    grid-row: 2 / -1;
    flex-shrink: 0;

    @media (min-width: 1200px) {
      order: unset;
      width: 300px;
    }
  }

  .form {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
    padding: 40px 25px 60px;

    @media (min-width: 1200px) {
      order: unset;
      width: 260px;
      margin-right: 100px;
      padding: unset;
    }
  }

  .form-button {
    margin-top: 8px;
    padding: 8px 0;

    background: #2cbb45;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    outline: none;

    &:disabled {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  .container-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;

    @media (min-width: 1200px) {
      padding-bottom: 8px;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 12px;
    margin-top: 12px;

    @media (min-width: 1200px) {
      gap: 16px;
      margin-top: unset;
      padding-left: unset;
    }

    a {
      font-size: 10px;
      line-height: 14px;
      text-decoration-line: underline;
      color: #0f1c2c;

      svg {
        display: none;
      }

      @media (min-width: 1200px) {
        font-size: unset;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-decoration-line: unset;

        svg {
          display: inline;
          vertical-align: middle;
          margin-left: 4px;
        }
      }
    }
  }

  .socials {
    display: flex;
    gap: 22px;
    align-items: center;
    margin-bottom: 24px;
    margin-right: 10px;
    height: 20px;
    justify-content: flex-end;

    a {
      display: block;
    }

    svg {
      display: block;
      height: 20px;
      width: auto;
    }

    img {
      height: 20px;
    }

    @media (min-width: 1200px) {
      height: unset;
      margin-right: unset;
      justify-content: unset;

      svg {
        height: unset;
        width: unset;
      }

      img {
        height: unset;
      }
    }
  }

  .phone {
    display: block;
    margin-bottom: 20px;
    margin-right: 10px;
    text-align: right;
    text-decoration: none;

    font-weight: 700;
    font-size: 15px;
    color: #0f1c2c;

    @media (min-width: 1200px) {
      font-size: 22px;
      line-height: 27px;
      text-align: unset;
    }
  }

  .address {
    display: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  .copyright {
    position: absolute;
    right: 10px;
    bottom: 43px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.01em;

    @media (min-width: 1200px) {
      position: unset;
      left: unset;
      bottom: unset;
      font-size: unset;
      line-height: unset;
    }
  }

  .form-container {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
    padding: 40px 25px 60px;

    @media (min-width: 1200px) {
      order: unset;
      width: 360px;
      padding: unset;
    }
  }

  .icon-container {
    margin-left: -4px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
</style>
